@import url('https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&display=swap');
* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




